header {
  height: 740px;
  width: 100%;
  background: url("../img/apples.jpg") center top;
  margin-top: -2%; }
  header .logo {
    font-family: 'Open Sans',sans-serif;
    color: #FFF;
    text-transform: uppercase;
    position: relative;
    top: 5%;
    margin-left: 2%; }
  header .menu {
    width: 25%;
    font-weight: 500;
    font-family: 'Open Sans',sans-serif;
    margin-left: 60%;
    position: absolute;
    display: flex;
    justify-content: space-between; }
  header .menu-item {
    color: #FFFFFF;
    text-decoration: none; }

.home .homeTitle {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  display: flex;
  font-size: 50px;
  color: white;
  justify-content: center;
  letter-spacing: 20px;
  margin-top: -22%; }
  .home .homeTitle strong {
    margin-top: -2%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 90px; }
.home .homeDescription {
  color: white;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  position: relative;
  display: flex;
  margin-top: -2%;
  font-size: 90%;
  font-weight: 300; }
.home .homeBtn {
  display: flex;
  justify-content: center;
  margin-top: 8%; }
  .home .homeBtn button {
    padding: 15px;
    width: 12%;
    opacity: 0.6;
    background-color: #000;
    color: white;
    border: 1px solid white; }

.about {
  margin-top: 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .about .aboutTitle {
    width: 25%;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif; }
  .about .aboutDescription {
    width: 37%;
    font-weight: 500;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif; }

.articles {
  background-color: #E8E8E8;
  padding-bottom: 5%; }
  .articles div {
    display: flex;
    flex-direction: row;
    margin: 0 3%; }
    .articles div .box {
      width: 119%;
      background-color: #000;
      background-size: cover;
      margin-bottom: 5%; }
      .articles div .box img {
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        transition: all 0.5s ease; }
      .articles div .box .number {
        position: absolute;
        margin-left: 48%;
        padding: 10px;
        width: 3%;
        color: white;
        font-family: 'Open Sans', sans-serif;
        background-color: #343638;
        opacity: 0.8;
        text-align: center;
        border: 2px solid white; }
      .articles div .box .number:after {
        content: "\002764";
        padding-left: 5px; }
      .articles div .box .boxDescription {
        position: absolute;
        margin-top: 18%;
        margin-left: 1%;
        font-family: 'Open Sans', sans-serif;
        color: #FFF; }
    .articles div .articlesDescription {
      margin-top: 8%;
      text-align: center;
      width: 65%;
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      position: relative;
      margin-left: 3%;
      margin-right: 3%; }
  .articles .articlesTitle {
    font-weight: 400;
    margin-top: 6%;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    text-align: center; }
  .articles .search {
    background-color: #FFF;
    width: 84%;
    padding: 40px;
    margin-left: 6%; }
    .articles .search p {
      font-family: 'Open Sans', sans-serif;
      font-weight: 500;
      font-size: 30px; }
    .articles .search .input {
      height: 50px;
      margin-top: 1.5%;
      margin-left: 3%;
      width: 60%;
      font-family: 'Open Sans', sans-serif;
      border: 1px solid #343638;
      background-color: #E8E8E8;
      color: #000;
      font-weight: 500;
      padding-left: 2%; }
    .articles .search button {
      height: 55px;
      margin-top: 1.4%;
      width: 8%;
      font-family: 'Open Sans', sans-serif;
      background-color: #000;
      color: #FFF;
      opacity: 0.8; }
    .articles .search button:hover {
      background-color: #FFFFFF;
      color: #000; }

footer .footerWrapper {
  display: flex;
  justify-content: space-between; }
  footer .footerWrapper div {
    width: 40%;
    padding: 5%; }
    footer .footerWrapper div p {
      font-family: 'Open Sans', sans-serif;
      color: #9E9E9E; }
  footer .footerWrapper .footerTitle {
    font-family: 'Open Sans', sans-serif; }
  footer .footerWrapper .footerTime {
    font-family: 'Open Sans', sans-serif;
    color: #E8E8E8; }
  footer .footerWrapper .footerInput {
    height: 50px;
    margin-top: 1.5%;
    width: 57%;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #343638;
    background-color: #E8E8E8;
    color: #000;
    font-weight: 500;
    padding-left: 3%; }
  footer .footerWrapper button {
    height: 55px;
    margin-top: 1.4%;
    margin-left: -1%;
    width: 38%;
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
    color: #FFF;
    opacity: 0.8; }
  footer .footerWrapper button:hover {
    background-color: #FFFFFF;
    color: #000; }
footer .footerMenu {
  border-top: 2px solid #f0f0f0;
  padding-top: 1%;
  width: 94%;
  margin-left: 3%; }
  footer .footerMenu p {
    font-family: 'Open Sans', sans-serif;
    color: #9E9E9E; }
  footer .footerMenu .menu {
    width: 25%;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    margin-left: 75%;
    display: flex;
    justify-content: space-between; }
  footer .footerMenu .menu-item {
    color: #000;
    text-decoration: none;
    margin-top: -15%; }

/*# sourceMappingURL=style.css.map */
