/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
:root {
  --bg-color--dark: #0a1223;
  --bg-color--light: #fff;
  --link: #5d5d5d;
  --link--active: #54597d;
  --link--hover: #54597d;
  --article-title: #ddd;
  --article-title--dark: #000;
  --thumbnail--description: #5d5d5d;

  /* These styles are needed only for media query max-width: 575px */

  /* The 'Up' button (circle button at right bottom corner) */
  --btn-color: #fff;
  --btn-bg-color: #5ebcff;

  --navigation-border-bottom: #ddd;
  --thumbnail-title: #484747;
  --button-shadow: lightgray;
}
*{
  background-color: #0a1223;
  box-sizing: border-box;
  font-family: sans-serif;
}
.menu{
  display: flex;
  justify-content: flex-end;
}
.menu-item{
  text-decoration: none;
  margin: 1%;
  color: #5d5d5d;
}
.active{
  color:#54597d;
}
.menu-item:hover{
  color:#54597d;
}
.wrapper{
  margin: 0 auto;
  width: 65%;
}
.articleTitle{
  color: #ddd;
  margin: 8%;
  font-size: 80px;
  text-align: center;
}
.facts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5%;
}
.facts:nth-child(odd) {
  flex-direction: row-reverse;
}

.factsText{
  width: 47%;
}
.factsImage{
  height: auto;
  width: 50%;
  margin-left: -5%;
}
.factsDescription{
  text-indent: 4%;
  color: #5d5d5d;
  text-align: justify;
}
.gradient{
  background: linear-gradient(to right, #ddd, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  margin-bottom: 4%;
}
.up{
  display: none;
}
@media (max-width: 991px){
  .menu{
    align-items: center;
    justify-content: center;
  }
  .articleTitle{
    font-size: 60px;
    margin-bottom: 12%;
  }
  .facts,
  .facts:nth-child(odd){
    flex-direction: column-reverse;
  }
  .factsText{
    width: 95%;
  }
  .factsImage{

    width: 80%;
    height: 80%;
    margin: 5% auto;
  }
  .up{
    display: none;
  }
}
@media (max-width: 575px){
  *{
    background: #fff;
  }
  .articleTitle{
    color:#000;

  }
  .gradient{
     color:#484747;
    background: linear-gradient(to right, #484747, #484747);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .factsText{
    width: 110%
  }
  .factsDescription{
    font-size: 25px;
  }
  .menu{
    flex-direction: column;
    /*justify-content: flex-start;*/
    align-items: flex-start;
    /*margin: 5% ;*/
    /*position: relative;*/
    /*left: -34%;*/
  }
  .menu-item{
    border-bottom: 1px solid #ddd;
    width: 100%;
    margin: 1.3% 0%;
    padding-bottom: 1%;
  }
  .button{
    /*position: fixed;*/
    /*left: 90%;*/
  }
  .up{
    display: block;
    width: 10%;
    padding: 3%;
    border-radius: 100%;
    color: #fff;
    border-color: transparent;
    background-color: #5ebcff;
    text-decoration: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    text-align: center;
    box-shadow: 10px 10px 10px lightgray;
  }
}