$brandBlue: #22bcd3;
$navLinkColor: $brandBlue;
$fontFamily: sans-serif;
$brandGrey: #efefef;
$art: $brandGrey;
$descriptionColor: #159587;
$descriptionBorderColor: #617d8a;
$descriptionNameColor: #1697a6;
$descriptionText: #64808a;
$aboutNameColor: #1fbcd3;
$aboutTextColor: #668492;
$formNameColor: #28bcd3;
$buttonColor: white;
$spanColor: #6585a0;
$backgroundColor: white;