$brandRed: #fb653c;
$navLinkColor: $brandRed;
$fontFamily: serif;
$brandWhite: #ffffff;
$art: $brandWhite;
$descriptionColor: #c3bfbf;
$descriptionBorderColor:#757575;
$descriptionNameColor: #61819a;
$descriptionText: #757575;
$aboutNameColor: #fc5830;
$aboutTextColor: #757575;
$formNameColor: #fc5f3a;
$buttonColor: white;
$spanColor: #757676;
$backgroundColor: #efefef;